@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inter);

  --text-preset-1: var(--font-xl);
  --text-preset-1--line-height: var(--line-height-base);
  --text-preset-1--letter-spacing: var(--letter-spacing-tight);
  --text-preset-1--font-weight: var(--font-bold);
  --text-preset-2: var(--font-lg);
  --text-preset-2--line-height: var(--line-height-base);
  --text-preset-2--letter-spacing: var(--letter-spacing-tight);
  --text-preset-2--font-weight: var(--font-bold);
  --text-preset-3: var(--font-md);
  --text-preset-3--line-height: var(--line-height-base);
  --text-preset-3--letter-spacing: var(--letter-spacing-medium-tight);
  --text-preset-3--font-weight: var(--font-semibold);
  --text-preset-4: var(--font-sm);
  --text-preset-4--line-height: var(--line-height-base);
  --text-preset-4--letter-spacing: var(--letter-spacing-slight-tight);
  --text-preset-4--font-weight: var(--font-medium);
  --text-preset-5: var(--font-sm);
  --text-preset-5--line-height: var(--line-height-base);
  --text-preset-5--letter-spacing: var(--letter-spacing-slight-tight);
  --text-preset-5--font-weight: var(--font-regular);
  --text-preset-6: var(--font-xs);
  --text-preset-6--line-height: var(--line-height-base);
  --text-preset-6--letter-spacing: var(--letter-spacing-slight-tight);
  --text-preset-6--font-weight: var(--font-regular);

  --color-blue-500: var(--clr-blue-500);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);

  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-authbg: var(--authbg);

  --radius-radius-4: calc(var(--radius) - 4px);
  --radius-radius-6: calc(var(--radius) - 2px);
  --radius-radius-8: var(--radius);
  --radius-radius-10: calc(var(--radius) + 2px);
  --radius-radius-12: calc(var(--radius) + 4px);
  --radius-radius-16: calc(var(--radius) * 2);
  --radius-radius-20: calc(var(--radius) + 12px);
  --radius-radius-24: calc(var(--radius) * 3);

  --shadow-sm: 0 4px 6px 0 rgba(240, 240, 240, 0.6);
  --shadow-lg: 0 0.5rem 0.75rem 0 rgba(240, 240, 240, 0.6);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility wrapper-grid {
  @apply w-full max-w-[69rem] m-auto gap-x-6 grid grid-cols-4 lg:grid-cols-12 md:grid-cols-10 sm:grid-cols-8;
}

@layer base {
  :root {
    --clr-base-white: #fff;
    --clr-base-black: #0e121b;
    --clr-neutral-50: #f5f7fa;
    --clr-neutral-100: #f3f5f8;
    --clr-neutral-200: #e0e4ea;
    --clr-neutral-300: #cacfd8;
    --clr-neutral-400: #99a0ae;
    --clr-neutral-500: #717784;
    --clr-neutral-600: #525866;
    --clr-neutral-700: #2b303b;
    --clr-neutral-800: #232530;
    --clr-neutral-900: #191b25;
    --clr-neutral-950: #0e121b;
    --clr-blue-50: #ebf1ff;
    --clr-blue-500: #335cff;
    --clr-blue-700: #2547d0;
    --clr-red-50: #ffebec;
    --clr-red-500: #fb3748;
    --clr-green-50: #e0faec;
    --clr-green-500: #21c16b;

    --background: var(--clr-base-white);
    --foreground: var(--clr-neutral-950);
    --card: var(--clr-base-white);
    --card-foreground: hsl(222.2 84% 4.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);
    --primary: var(--clr-blue-700);
    --primary-foreground: hsl(210 40% 98%);
    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);
    --muted: var(--clr-neutral-600);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
    --destructive: var(--clr-red-500);
    --destructive-foreground: var(--clr-base-white);
    --border: var(--clr-neutral-200);
    --border-secondary: var(--clr-neutral-300);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: var(--clr-neutral-500);
    --icon: var(--clr-base-black);
    --authbg: var(--clr-neutral-100);

    /* Radius */
    --radius: 0.5rem;

    /* Font size */
    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;

    /* Font weight */
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* Line height */
    --line-height-base: 120%;

    /* Letter spacing */
    --letter-spacing-tight: -0.5px;
    --letter-spacing-medium-tight: -0.3px;
    --letter-spacing-slight-tight: -0.2px;
  }
  .dark {
    --background: var(--clr-base-black);
    --foreground: var(--clr-base-white);
    --card: var(--clr-neutral-950);
    --card-foreground: var(---clr-base-white);
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: var(--clr-blue-500);
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: var(--clr-neutral-300);
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: var(--clr-red-500);
    --destructive-foreground: var(--clr-base-white);
    --border: var(--clr-neutral-800);
    --border-secondary: var(--clr-neutral-600);
    --input: 217.2 32.6% 17.5%;
    --ring: var(--clr-neutral-600);
    --icon: var(--clr-base-white);
    --authbg: var(--clr-neutral-700);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
}
