@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-base-white: #fff;
    --clr-base-black: #0e121b;
    --clr-neutral-50: #f5f7fa;
    --clr-neutral-100: #f3f5f8;
    --clr-neutral-200: #e0e4ea;
    --clr-neutral-300: #cacfd8;
    --clr-neutral-400: #99a0ae;
    --clr-neutral-500: #717784;
    --clr-neutral-600: #525866;
    --clr-neutral-700: #2b303b;
    --clr-neutral-800: #232530;
    --clr-neutral-900: #191b25;
    --clr-neutral-950: #0e121b;
    --clr-blue-50: #ebf1ff;
    --clr-blue-500: #335cff;
    --clr-blue-700: #2547d0;
    --clr-red-50: #ffebec;
    --clr-red-500: #fb3748;
    --clr-green-50: #e0faec;
    --clr-green-500: #21c16b;

    --background: (0 0% 100%);
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: var(--clr-neutral-200);
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --icon: var(--clr-neutral-950);
    --authbg: var(--clr-neutral-100);

    /* Font size */
    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;

    /* Font weight */
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* Line height */
    --line-height-base: 120%;

    /* Letter spacing */
    --letter-spacing-tight: -0.5px;
    --letter-spacing-medium-tight: -0.3px;
    --letter-spacing-slight-tight: -0.2px;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: var(--clr-neutral-800);
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --icon: var(--clr-base-white);
    --authbg: var(--clr-neutral-700);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-[69rem] m-auto px-8;
  }
}
